body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.control-item {
    width: 250px;
    margin-bottom: 20px;
}

    .control-item label {
        display: block;
        font-size: 18px;
        font-weight: bold;
    }

    .control-item select {
        width: 100%;
        font-size: 16px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

.telemetry {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 30px;
}

    .telemetry h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .telemetry p {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .telemetry #timer {
        color: #333;
    }

    .telemetry #weight {
        color: #007bff;
    }

    .telemetry #sugar-butter-ratio,
    .telemetry #mix-milk-ratio {
        color: #28a745;
    }

        .telemetry #sugar-butter-ratio::before,
        .telemetry #mix-milk-ratio::before {
            content: "\2022"; /* Add bullet point before the ratio */
            margin-right: 5px;
        }

/* Toggle Switch Styles */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .toggle-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff0000;
    transition: .4s;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 34px;
    justify-content: flex-end;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: #00ff00;
    justify-content: space-between;
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }

.slider .off, .slider .on {
    font-size: 12px;
    color: white;
}

.slider .on {
    display: none;
}

input:checked + .slider .off {
    display: none;
}

input:checked + .slider .on {
    display: block;
}

/* Sugar Speed Styles */
#sugar-speed {
    display: block; /* This will push elements after it to a new line */
    font-size: 24px;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #f3f4f6; /* A subtle gray */
    border-radius: 5px;
    margin: 10px 0; /* Adjusted for top and bottom margin */
    text-align: center; /* Centered text */
}

/* Button Styles */
#increase-speed, #decrease-speed {
    display: block; /* This makes each button take up its own line */
    width: 100%; /* Ensures full width is taken */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* A greenish color for a positive action */
    border: none;
    cursor: pointer; /* Change cursor on hover to indicate interactivity */
    transition: background-color 0.3s; /* Smooth transition for hover effects */
    border-radius: 5px; /* Slightly rounded corners */
    color: white; /* White text on colored button background */
    margin: 5px 0; /* Spacing between buttons */
}

#decrease-speed {
    background-color: #f44336; /* A reddish color for a negative action */
}

#increase-speed:hover {
    background-color: #45a049; /* Slightly darker shade of green on hover */
}

#decrease-speed:hover {
    background-color: #d32f2f; /* Slightly darker shade of red on hover */
}

