body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px; 
}

.control-item {
    width: calc(100% / 4 - 20px); 
    margin-bottom: 20px;
}

    .control-item label {
        display: block;
        font-size: 18px;
        font-weight: bold;
    }

    .control-item select {
        width: 100%;
        font-size: 16px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

.telemetry {
    background-color: #f8f9fa; /* Light grey to distinguish from background */
    padding: 25px;
    border: 1px solid #e0e0e0; /* Slight border for definition */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); /* Subtle shadow for depth */
    width: 300px; /* Or adjust based on your design */
    margin: 30px auto; /* Centering the telemetry if its container is full-width */
}

    .telemetry div {
        font-size: 18px;
        margin-bottom: 15px; /* Consistent spacing */
        font-weight: 400; /* Normal font weight for regular text */
        line-height: 1.4; /* Improved readability */
        color: #333; /* Dark text for better readability */
    }

    .telemetry #weight {
        color: #007bff; /* Keep the unique color for differentiation */
    }

    .telemetry #sugar-butter-ratio,
    .telemetry #mix-milk-ratio {
        color: #28a745; /* Green color to emphasize ratios */
    }

        .telemetry #sugar-butter-ratio::before,
        .telemetry #mix-milk-ratio::before {
            content: "\2022"; /* Bullet point for additional visual emphasis */
            margin-right: 5px;
        }



/* Toggle Switch Styles */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .toggle-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff0000;
    transition: .4s;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 34px;
    justify-content: flex-end;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: #00ff00;
    justify-content: space-between;
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }

.slider .off, .slider .on {
    font-size: 12px;
    color: white;
}

.slider .on {
    display: none;
}

input:checked + .slider .off {
    display: none;
}

input:checked + .slider .on {
    display: block;
}

/* Sugar Speed Styles */
#sugar-speed {
    display: block; /* This will push elements after it to a new line */
    font-size: 24px;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #f3f4f6; /* A subtle gray */
    border-radius: 5px;
    margin: 10px 0; /* Adjusted for top and bottom margin */
    text-align: center; /* Centered text */
}

/* Button Styles */
#increase-speed, #decrease-speed {
    display: block; /* This makes each button take up its own line */
    width: 100%; /* Ensures full width is taken */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* A greenish color for a positive action */
    border: none;
    cursor: pointer; /* Change cursor on hover to indicate interactivity */
    transition: background-color 0.3s; /* Smooth transition for hover effects */
    border-radius: 5px; /* Slightly rounded corners */
    color: white; /* White text on colored button background */
    margin: 5px 0; /* Spacing between buttons */
}

#decrease-speed {
    background-color: #f44336; /* A reddish color for a negative action */
}

#increase-speed:hover {
    background-color: #45a049; /* Slightly darker shade of green on hover */
}

#decrease-speed:hover {
    background-color: #d32f2f; /* Slightly darker shade of red on hover */
}

